name: ci

on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    uses: './.github/workflows/lint.yml'
    permissions:
      contents: read
      security-events: write
    secrets:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

  test:
    name: test
    runs-on: ubuntu-24.04
    needs:
    - lint
    strategy:
      matrix:
        go-version: ['1.24.x', '1.25.x']
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: 'false'
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
    - name: Generate mocks
      run: go generate -x ./...
    - name: Run tests
      run: go test -v ./...
