name: ci

on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    uses: './.github/workflows/lint.yml'
    permissions:
      contents: read
      security-events: write
    secrets:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

  test:
    name: test
    runs-on: ubuntu-24.04
    needs:
    - lint
    strategy:
      matrix:
        go-version: ['1.24.x', '1.25.x']
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: 'false'
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
    - name: Generate mocks
      run: go generate -x ./...
    - name: Run tests
      run: go test -v ./...
