name: semgrep

on:
  workflow_call:
    secrets:
      SEMGREP_APP_TOKEN:
        required: true
  schedule:
  - cron: '12 15 * * *'

jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      security-events: write
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep
    if: (github.actor != 'dependabot[bot]')
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: 'false'

    - run: semgrep login

    - run: semgrep ci --no-suppress-errors --sarif-output=semgrep.sarif

    - uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4.31.2
      with:
        sarif_file: semgrep.sarif
        category: semgrep
