name: semgrep

on:
  workflow_call:
    secrets:
      SEMGREP_APP_TOKEN:
        required: true
  schedule:
  - cron: '12 15 * * *'

jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      security-events: write
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep
    if: (github.actor != 'dependabot[bot]')
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: 'false'

    - run: semgrep login

    - run: semgrep ci --no-suppress-errors --sarif-output=semgrep.sarif

    - uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
      with:
        sarif_file: semgrep.sarif
        category: semgrep
